@import "~element-ui/packages/theme-chalk/src/common/var";

@mixin b($block) {
  $B: 'el-'+$block !global;

  .#{$B} {
    @content;
  }
}

@include b(year-table) {

  td {
    &.in-range {
      padding: 20px 0px;
    }

    & div {
      height: 44px;
      padding: 6px 0;
      box-sizing: border-box;
    }

    .cell {
      width: 60px;
      border-radius: 16px;
    }

    &.in-range div {
      background-color: $--datepicker-inrange-background-color;
      &:hover {
        background-color: $--datepicker-inrange-hover-background-color;
      }
    }
    &.start-date div,
    &.end-date div {
      color: $--color-white;
    }

    &.start-date .cell,
    &.end-date .cell {
      color: $--color-white;
      background-color: $--datepicker-active-color;
      &:hover {
        color: $--color-white;
      }
    }

    &.start-date div {
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
    }

    &.end-date div {
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
    }
  }
}

